
.gitattributes          export-ignore
.gitignore              export-ignore
README.txt              export-ignore

* text=auto

# GitHub
.gitattributes          text
.gitignore              text
README.txt              text

# Source files
*.cpp                   text
*.py                    text

# Input test files
*.in                    text
*.txt                   text

